<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
<tr><td><div class="date">
    <%= f.label :date,"Date:" %>
    <%= f.date_select(:date,:start_year => 2012) %>
  </div></td></tr>
 <tr> <td><div class="field">
    <%= f.label :name,"Name:" %>
    <%= f.text_field :name %>
  </div></td></tr><br>
    <tr><td><div class="photo">
  <%= f.label :photo, "Photo:" %>
      <%= f.file_field :photo %>
    </div></td></tr>
    <tr><td><div class="field">
    <%= f.label :gender,"Gender:" %>
    <%= f.select :gender, %w[Male Female] %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Address,"Address:" %>
    <%= f.text_area :address,:size => "13x1"  %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Telephone_No,"Telephone No:" %>
    <%= f.text_field :telephone %>
  </div></td>
  <td><div class="field">
    <%= f.label :Mobile,"Mobile:" %>
    <%= f.text_field :mobile %>
  </div></td></tr>
 <tr> <td><div class="field">
    <%= f.label :Email_address,"Email Address:" %>
    <%= f.text_field :email %>
  </div></td></tr>
  <tr><td> <div class="field">
    <%= f.label :Course_Enrolled,"Course Enrolled:" %>
    <%= f.text_field :course_enrolled %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Educational_Qualifications,"Educational Qualifications:" %>
    <%= f.select :education, %w[B.Tech M.tech M.C.A M.B.A] %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :College_Name,"College Name:" %>
    <%= f.text_field :college_name %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Address,"Address:" %>
    <%= f.text_area :caddress,:size => "13x1"  %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Branch,"Branch / Semester:" %>
    <%= f.text_field :branch %>
  </div></td>
  <td><div class="field">
    <%= f.label :Course_Interested,"Course Interested:" %>
    <%= f.text_field :course_intrested %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Contact_You,"How you would like us to contact you?" %>
    <%= f.select :contact_you, %w[By_Email By_Phone By_SMS] %> 
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Program_Name,"Program Name (as registered with Siltek):" %>
    <%= f.text_field :program_name %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Program_Incharge,"Program In-charge:" %>
    <%= f.text_field :program_incharge %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Program_Hour,"Program Duration in Hours:" %>
    <%= f.text_field :program_hour %>
  </div></td>
  <td><div class="field">
    <%= f.label :Program_Week,"Program Duration in Weeks:" %>
    <%= f.text_field :program_week %>
  </div></td></tr>
  <tr><td>
  <div class="field">
    <%= f.label :Start_date,"Program Start Date:" %>
    <%= f.date_select(:start,:start_year => 2012) %>
  </div></td>
  <td> <div class="field">
    <%= f.label :End_date,"Program End Date:" %>
    <%= f.date_select(:end,:end_year => 2050) %>
  </div></td></tr>
  <tr>
   <td> <b>Fees Details:</b></td></tr>
  <tr><td><b>Program Costs</b></td>
    <td><b>Amount</b></td></tr>
  
  <tr><td><div class="field">
    <%= f.label :Registration_Fees,"Registration/Application Fee:" %>
    <%= f.text_field :rfee %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Course_Fees,"Course Fee:" %>
    <%= f.text_field :cfee %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Course_material,"Course Material /Other (please specify):" %>
    <%= f.text_field :cmaterial %>
  </div></td></tr>
  <tr><td><div class="field">
    <%= f.label :Total_Cost,"TOTAL PROGRAM COST:" %>
    <%= f.text_field :total_cost %>
  </div></td></tr>
  <tr><td><div class="field">
  <%= f.label :avatar, "Student Signature" %>
      <%= f.file_field :avatar %>
    </div></td>
<td><div class="date">
    <%= f.label :sdate,"Date:" %>
    <%= f.date_select(:sdate,:start_year => 2012) %>
  </div></td></tr>
  <tr><td><div class="field">
  <%= f.label :image, "Signature of the Representative" %>
      <%= f.file_field :image %>
    </div></td>
<td><div class="date">
    <%= f.label :rdate,"Date:" %>
    <%= f.date_select(:rdate,:start_year => 2012) %>
  </div></td></tr><br>
  <tr><td><div class="actions">
    <%= f.submit %>
  </div></td></tr>
</table>
<% end %>
