<h1>Student Information</h1>
<table class="table">
<tr><td></td>
  <td><div class="field">
	<b>Date:</b>
  <%= best_in_place @user, :date %>
</div></td></tr>

<tr> <td><div class="field">
  <b>1.Name:</b>
  <%= best_in_place @user, :name,:type => :input %>
</div></td></tr>
    <tr><td></td>
      <td><div class="photo">
	<%= link_to(image_tag(@user.photo.url(:thumb)), @user.photo.url) if @user.photo? %>

	</div></td></tr>
    <tr><td><div class="field">
  <b>2.Gender:</b>
  <%= best_in_place @user, :gender, type: :select, collection: [["Male", "Male"], ["Female", "Female"], ["", "Unspecified"]] %>
</div></td></tr>
<tr> <td><div class="field">
  <b>3.Address:</b>
  <%= best_in_place @user, :address,:type => :input %>
</div></td></tr>
    <tr><td><div class="field">
  <b>4.Telephone No:</b>
  <%= best_in_place @user, :telephone,:type => :input %>
</div></td>
  <td><div class="mobile">
  <b>Mobile:</b>
  <%= best_in_place @user, :mobile,:type => :input %>
</div></td></tr>
 <tr> <td><div class="field">
  <b>5.Email Address:</b>
  <%= best_in_place @user, :email %>
</div></td></tr>
  <tr><td> <div class="field">
  <b>6.Course Enrolled:</b>
  <%= best_in_place @user, :course_enrolled,:type => :input %>
</div></td></tr>
  <tr><td><div class="field">
  <b>7.Educational Qualifications:</b>
  <%= best_in_place @user, :education %>
</div></td></tr>
  <tr><td><div class="field">
  <b>College Name:</b>
  <%= best_in_place @user, :college_name %>
</div></td></tr>
  <tr><td><div class="field">
  <b>Address:</b>
  <%= best_in_place @user, :caddress,type: :textarea %>
</div></td></tr>
  <tr><td><div class="field">
  <b>Branch/semeseter:</b>
  <%= best_in_place @user, :branch %>
</div></td>
  <td><div class="field">
	<b>Course Interested:</b>
  <%= best_in_place @user, :course_intrested, type: :textarea %>
</div></td></tr>

  <tr><td><div class="field">
	<b>8.How you would like us to contact you?</b>
  <%= best_in_place @user, :contact_you %>
</div></td></tr>
</table>

  <h1>Program Information</h1>
  <h1>(to be filled by the Admin)</h1>
<table class="table">
  <tr><td><div class="field">
	<b>9.Program Name (as registered with Siltek):</b>
  <%= best_in_place @user, :program_name %>
 </div></td></tr>
  <tr><td><div class="field">
	<b>10.Program In-charge:</b>
  <%= best_in_place @user, :program_incharge %>
</div></td></tr>
  <tr><td><div class="field">
	<b>11.Program Duration in Hours:</b>
  <%= best_in_place @user, :program_hour %>
</div></td>
  <td><div class="field">
	<b>Program Duration in Weeks:</b>
  <%= best_in_place @user, :program_week %>
</div></td></tr>
  <tr><td>
  <div class="field">
	<b>Program Start Date:</b>
  <%= best_in_place @user, :start %>
</div></td>
  <td> <div class="field">
	<b>Program End Date: </b>
  <%= best_in_place @user, :end %>
<tr>
   <td> <b>12.Fees Details:</b></td></tr>
  <tr><td><b>Program Costs</b></td>
    <td><b>Amount</b></td></tr>
  
  <tr><td><div class="field">
    <b>Registration / Application Fee:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= best_in_place @user, :rfee %>
</div></td></tr>
  <tr><td><div class="field">
    <b>Course Fee:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= best_in_place @user, :cfee %>
</div></td></tr>

  <tr><td><div class="field">
	<b>Course Material /Other (please specify): </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= best_in_place @user, :cmaterial %>
</div></td></tr>

  <tr><td><div class="field">
	<b>TOTAL PROGRAM COST:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= best_in_place @user, :total_cost %>
</div></td></tr>
</table>

      
   <h1>STUDENT DECLARATION</h1>
   <table border="0" cellspacing="5" cellpadding="5" class="table">
  <tr><td><b>I DECLARE THAT:</b></td></tr>
    <tr><td><li>If selected for project/training/placement program of Siltek Software solutions (I) Pvt. Ltd., I agree to abide by the rules and regulations of this enrolment for the program;</li></td></tr>
  <tr><td><li>I have provided evidence to prove that I meet all the admission requirements for this program of study;</li></td></tr>
<tr><td><li>I am responsible for my own safety while inside the Siltek premises and shall follow all safety precautions.</li></td></tr>
<tr><td><li>I will not disclose to anyone any technical information relating to the project/training program without prior permission from concerned authorities of Siltek.</li></td></tr>
<tr><td><li>The information provided is true and accurate to the best of my knowledge.</li></td></tr>


  <tr><td><div class="photo">
	<%= link_to(image_tag(@user.avatar.url(:thumb)), @user.avatar.url) if @user.avatar? %>

	</div></td>

<td><div class="date">
	<b>Date:</b>
  <%= best_in_place @user, :sdate %>
</div></td></tr>
</table>
      <h1>COMPANY DECLARATION</h1>
    <table class="table">
  <tr><td width="900">The Company agrees to deliver the program according to the terms of this contract and certifies that the student has met the admission requirements for the program of study.</td></tr>
      
  <tr><td width="900"><div class="photo">
	<%= link_to(image_tag(@user.attach.url(:thumb)), @user.attach.url) if @user.attach? %>

	</div></td>
<td><div class="date">
	<b>Date:</b>
  <%= best_in_place @user, :rdate %>
</div></td></tr>
</table>
<div id="edit">
<%= link_to 'Edit Profile', edit_user_path(@user) %>


<p id="pdf_link"><%= link_to "Print", user_path(@user, :format => "pdf") %></p>


</div>